@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-7xl xl:text-8xl 2xl:text-9xl 3xl:text-[194px] font-bEs text-secondary-100 mb-20;
    line-height: 20%;
  }
  h2 {
    @apply text-4xl sm:text-5xl md:text-6xl xl:text-7xl 2xl:text-8xl 3xl:text-9xl font-baiJ text-primary font-bold;
  }
  h3 {
    @apply text-6xl font-baiJ;
  }
  h4 {
    @apply text-3xl xl:text-[40px] text-primary font-semibold font-baiJ;
  }
  h5 {
    @apply text-7xl font-bEs;
  }
  p {
    @apply text-base;
  }
  a {
    @apply text-white text-lg font-semibold;
  }
  button {
    @apply text-lg;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
