@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  h1 {
    @apply text-7xl sm:text-8xl xl:text-9xl 2xl:text-[194px] font-bEs text-secondary-100 mb-20;
    line-height: 20%;
  }
  h2 {
    @apply font-baiJ text-4xl sm:text-6xl lg:text-7xl xl:text-8xl 2xl:text-[130px] text-primary font-bold;
  }
  h3 {
    @apply text-6xl font-baiJ;
  }
  h4 {
    @apply font-baiJ font-semibold text-3xl xl:text-[40px] text-primary;
  }
  h5 {
    @apply text-7xl font-bEs;
  }
  p {
    @apply text-base;
  }
  a {
    @apply text-lg font-medium;
  }
  button {
    @apply text-lg;
  }
}

.highlight-second li:nth-child(2) {
  @apply ml-2;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
